[Unit]
Description=XAS Dash Local App
After=network.target

[Service]
WorkingDirectory={{PROJECT_ROOT}}/lightshowai
EnvironmentFile={{PROJECT_ROOT}}/.env.local
ExecStart={{PYTHON_BIN}} -m gunicorn --workers 1 --bind 127.0.0.1:8443 xas_ui:server
Restart=always

[Install]
WantedBy=multi-user.target